.aboutUsDivContainer {
  display: flex;
  margin-top: 30px;
}

.aboutUsDiv {
  background-color: #E7816B;
  color: #fff;
  height: 400px; 
  overflow: hidden;
  position: relative;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.bgPatternHeroAboutDesktop {
  position: absolute; 
  bottom: 0;
  right: 0;
  z-index: 5;
  max-height: 800px;
}

.imageAboutHero {
  height: 400px;
  border-radius: 0 20px 20px 0;
}

.worldClassTalentContainer {
  display: flex;
  margin: 30px 0;
}

.worldClassTalentDiv {
  background-color: #FDF3F0;
  color: #000;
  height: 600px; 
  overflow: hidden;
  position: relative;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.worldClassTalentTitle,
.theRealDealTitle {
  color: #E7816B;
}

.bgPatternThreeCircles {
  position: absolute; 
  bottom: 0;
  left: -100px;
  z-index: 5;
  max-height: 800px;
}

.imageWorldClassTalent {
  height: 600px;
  border-radius: 20px 0 0 20px;
}

.placesDiv {
  display: flex;
  justify-content: space-evenly;
}

.placeCanda,
.placeAustralia,
.placeUnitedKingdom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bgPatternSmallCirlce {
  position: absolute;
  z-index: 5;
}

.seeLocationButton {
  background-color: #E7816B; 
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 15px 0 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
}

.seeLocationButton:hover {
  background-color: #FFAD9B;
}

.theRealDealContainer {
  display: flex;
  margin: 30px 0;
}

.theRealDealDiv {
  background-color: #FDF3F0;
  color: #000;
  height: 600px; 
  overflow: hidden;
  position: relative;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.bgPatternTwoCircles {
  position: absolute; 
  bottom: 0;
  left: 0;
  z-index: 5;
  max-height: 800px;
}

.imageRealDeal {
  height: 600px;
  border-radius: 0 20px 20px 0;
}

@media only screen and (max-width: 992px) {
  .aboutUsDivContainer {
    flex-direction: column-reverse;
  }

  .aboutUsDiv {
    height: 300px; 
    border-radius: 0 0 20px 20px;
    align-items: center;
    padding: 0 50px;
  }
  
  .imageAboutHero {
    max-height: 400px;
    border-radius: 20px 20px 0 0;
  }

  .worldClassTalentContainer {
    flex-direction: column;
  }

  .worldClassTalentDiv {
    height: 400px; 
    border-radius: 0 0 20px 20px;
    padding: 0 75px;
  }
  
  .imageWorldClassTalent {
    height: 750px;
    border-radius: 20px 20px 0 0;
  }

  .placesDiv {
    flex-direction: column;
    gap: 50px;
  }

  .theRealDealContainer {
    flex-direction: column;
  }

  .theRealDealDiv {
    height: 400px; 
    border-radius: 20px 20px 0 0;
    padding: 0 75px;
  }
  
  .imageRealDeal {
    height: 750px;
    border-radius: 0 0 20px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .worldClassTalentDiv {
    height: 450px; 
    padding: 10px 50px;
  }
  
  .imageWorldClassTalent {
    height: 600px;
  }

  .theRealDealDiv {
    height: 450px; 
    padding: 10px 50px;
  }
  
  .imageRealDeal {
    height: 600px;
  }
}