.awardWinningDiv {
  background-color: #E7816B;
  color: #fff;
  height: 640px; 
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin-top: 30px;
}

.awardWinningDivText {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.awardWinningTitle,
.designsAndDigitalTitle {
  margin: 0;
  font-size: 2.5rem;
}

.brandingSolutionsTitle {
  margin: 0 0 10px 0;
  font-size: 2.5rem;
}

.withOverText {
  margin: 10px 0 0 0;
}

.creatingFullyText,
.brandExperiencesText {
  margin: 0;
}

.learnMoreButton {
  background-color: #fff; 
  border-radius: 5px;
  border: none;
  color: #000;
  margin: 15px 0 0 0;
  padding: 10px 20px;
}

.learnMoreButton:hover {
  background-color: #FFAD9B;
}

.cirlce {
  position: absolute; 
  top: 0; 
  right: 0;
}

.iPhone {
  position: absolute; 
  top: -65px;
  right: -25px;
}

.threeImagesStack {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 10px;
}

.webDesign {
  display: flex;
  flex: 1 0 50%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/home/desktop/image-web-design-large.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  height: 640px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-decoration: none;
}

.webDesign:hover {
  background: linear-gradient(90deg, rgba(231, 129, 107, 0.8), rgba(231, 129, 107, 0.8)), url('../assets/home/desktop/image-web-design-large.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.appDesign {
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/home/desktop/image-app-design.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  height: 315px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-decoration: none;
}

.appDesign:hover {
  background: linear-gradient(90deg, rgba(231, 129, 107, 0.8), rgba(231, 129, 107, 0.8)), url('../assets/home/desktop/image-app-design.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.graphicDesign {
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/home/desktop/image-graphic-design.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  height: 315px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-decoration: none;
}

.graphicDesign:hover {
  background: linear-gradient(90deg, rgba(231, 129, 107, 0.8), rgba(231, 129, 107, 0.8)), url('../assets/home/desktop/image-graphic-design.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.appDesignAndGraphicDesign {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  gap: 10px;
}

.homeIllustrationSection {
  display: flex;
  text-align: center;
  gap: 40px;
  margin: 10px 0 30px 0;
}

@media only screen and (max-width: 992px) {
  .awardWinningDiv {
    height: 689px; 
  }

  .awardWinningDivText {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .cirlce {
    position: absolute; 
    top: 70px; 
    right: -100px;
  }
  
  .iPhone {
    height: 775px;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .homeIllustrationSection {
    flex-direction: column;
    text-align: left;
  }

  .illustrationPassionateSection,
  .illustrationResourcefulSection,
  .illustrationFriendlySection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .threeImagesStack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    gap: 10px;
    width: 100%;
  }

  .appDesign {
    height: 210px;
    flex: none;
  }

  .graphicDesign {
    height: 210px;
    flex: none;
  }

  .webDesign {
    height: 210px;
    flex: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/home/desktop/image-web-design-small.jpg') no-repeat center center;
  }

  .webDesign:hover {
    background: linear-gradient(90deg, rgba(231, 129, 107, 0.8), rgba(231, 129, 107, 0.8)), url('../assets/home/desktop/image-web-design-small.jpg') no-repeat center center;
  }

  .homeIllustrationSection {
    flex-direction: column;
    text-align: center;
  }

  .illustrationPassionateSection,
  .illustrationResourcefulSection,
  .illustrationFriendlySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}