.canadaContainer {
  display: flex;
  gap: 10px;
  margin: 30px 0;
  font-size: 20px;
}

.australiaContainer, 
.unitedKingdomContainer {
  display: flex;
  gap: 10px;
  margin: 50px 0;
  font-size: 20px;
}

.canadaDiv {
  background-color: #FDF3F0;
  color: #000;
  height: 500px;
  width: 100%; 
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.canadaDiv p,
.australiaDiv p,
.unitedKindfomDiv p {
  margin: 0;
}

.imageMapCanada {
  max-height: 500px;
  border-radius: 20px;
}

.australiaDiv {
  background-color: #FDF3F0;
  color: #000;
  height: 500px; 
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.imageMapAustralia {
  max-height: 500px;
  border-radius: 20px;
}

.unitedKindfomDiv {
  background-color: #FDF3F0;
  color: #000;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.imageMapUnitedKingdom {
  border-radius: 20px;
  max-height: 500px;
}

.canadaTextContainer,
.australiaTextContainer,
.unitedKingdomTextContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .imageMapCanada {
    min-width: 450px;
  }
  
  .imageMapAustralia {
    min-width: 450px;
  }
  
  .imageMapUnitedKingdom {
    min-width: 450px;
  }
}

@media only screen and (max-width: 1199px) {
  .canadaContainer, 
  .unitedKingdomContainer {
    flex-direction: column-reverse;
  }
  
  .australiaContainer {
    flex-direction: column;
  }

  .imageMapCanada,
  .imageMapAustralia,
  .imageMapUnitedKingdom, {
    max-width: 100%;
    max-height: auto;
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .canadaDiv,
  .australiaDiv,
  .unitedKindfomDiv {
    padding: 0 30px;
    height: 300px;
  }
}
